<h1>This is the show page. Voila.</h1>
<p>This page will display information about entry number <%= params[:id] %></p>
<main>
  <%= @entry.word %>
  <%= @entry.language %>
  <%= @entry.definition %>
  <%= link_to "Edit entry", edit_entry_path %>
  <%= link_to "Delete entry", entry_path(@entry), method: :delete, data: {confirm: "Do you really want to delete this item?"} %>

  <br>
  <%= link_to "Main Entries Page", entries_path %>
</main>
